@import "{{ url_for('static', filename=('css/Base.css')) }}";

body{
    background-color: var(--Main-BG-Colour);
    color: var(--Main-Text-Colour);
}

.Calendar-Wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    background-color: var(--Primary-Colour);
}

.Calendar-Container{
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: var(--Primary-Colour);
}

.Calendar-Container:hover{
    overflow-y: scroll;
}

.Calendar-Table{
    position: relative;
    min-height: 20%;
    width: 100%;
}

.Calendar-Table th{
    height: 100px;
    text-align: center;
    border: #e13f3f 1px solid;
    border-collapse: collapse;
    background-color: #6e0909;
}

.Calendar-Table tr td{
    height: 70px;
    text-align: center;
    border: #e13f3f 1px solid;
    border-collapse: collapse;
    background-color: #6e0909;
}

.Options-Container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    top: 80%;
    background: var(--Rev-Primary-Gradient);

}

.Options-Form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Options-Form select{
    margin: 2%;
    height: 75%;
    width: 12.5%;
    background: var(--Secondary-Colour);
    color: var(--Main-Text-Colour);
    text-align: center;
}

.Options-Form input{
    margin: 2%;
    height: 75%;
    width: 12.5%;
    background: var(--Secondary-Colour);
    color: var(--Main-Text-Colour);
    text-align: center;
}

.OptionBtn{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--Main-Text-Colour);
    height: 35%;
    width: 80%;
    background-color: #6e0909;
    border-radius: 10px;
    text-align: center;
}

button{
    position: relative;
    margin: 2%;
    height: 75%;
    width: 12.5%;
    background: var(--Secondary-Colour);
    color: var(--Main-Text-Colour);
    text-align: center;
}

button:hover{
    transition: 0.1s;
    cursor: pointer;
}