@import "{{ url_for('static', filename=('css/Base.css')) }}";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--Main-Text-Colour);
}

.Heading-Container{
    display: flex;
    position: absolute;
    height: 25%;
    width: 80%;
    background: var(--Secondary-BG-Colour);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    top: 4%;
    left: 10%;
}

.Relaxation-Wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
    height: 75%;
    width: 100%;
    background: var(--Secondary-Colour);
}

.Relaxtion-Container{
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 70%;
    width: 50%;
    background: var(--Secondary-Colour);
    border-radius: 20px;
    top: 30%;
}

.Relaxation-Wrapper:hover{
    overflow-y: scroll;
}

.Calendar-Wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
    height: 75%;
    width: 100%;
    background: var(--Primary-Colour);
}

.Calendar-Container{
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 70%;
    width: 50%;
    background: var(--Primary-Colour);
    border-radius: 20px;
    top: 30%;
    left: 50%;
}

.Calendar-Wrapper:hover{
    overflow-y: scroll;
}

.Relaxation-Table{
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.Relaxation-Table table th{
    height: 100px;
    text-align: center;
}

.Relaxation-Table tr td{
    height: 40px;
    text-align: center;
}

.Relaxation-Table table{
    width: 100%;
    height: auto;
    min-height: 100%;
    max-height: none;
}

.Relaxation-Table tr:nth-child(odd){
    background-color: var(--Secondary-BG-Colour);
}

.Calendar-Table{
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.Calendar-Table table th{
    height: 100px;
    text-align: center;
    border: #e13f3f 1px solid;
    border-collapse: collapse;
    background-color: #6e0909;
}

.Calendar-Table tr td{
    text-align: center;
    height: 40px;
    border: #e13f3f 1px solid;
    border-collapse: collapse;
    background-color: #6e0909;
}

.Calendar-Table table{
    width: 100%;
    height: auto;
    min-height: 20%;
    max-height: none;
}

.CalendarBtn{
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color: var(--Main-Text-Colour);
    height: 12%;
    width: 50%;
    text-align: center;
    background: var(--Rev-Primary-Gradient);
    border-radius: 20px;
    left: 25%;
    bottom: 4%;
}

.CalendarBtn:hover{
    transition: 1s;
    background: var(--Primary-Gradient);
    cursor: pointer;
}
