@import "{{ url_for('static', filename=('css/Base.css')) }}";

body{
    background-color: var(--Main-BG-Colour);
    color: var(--Main-Text-Colour);
}

.Heading-Container{
    position: absolute;
    display: flex;
    height: 20%;
    width: 80%;
    left: 10%;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary-Gradient);
}

.Insert-Container{
    position: absolute;
    display: flex;
    height: 80%;
    width: 80%;
    top: 20%;
    left: 10%;
    justify-content: center;
    align-items: center;
    background-color: var(--Secondary-Colour);
}

.Insert-Form{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Insert-Container input{
    position: relative;
    height: 30%;
    width: 12.5%;
    margin: 0px 5px;
    font-size: larger;
    text-align: center;
    color: var(--Main-Text-Colour);
    background-color: var(--Secondary-Colour);
}

.Insert-Container button{
    position: relative;
    height: 30%;
    width: 12.5%;
    font-size: larger;
    text-align: center;
    color: var(--Main-Text-Colour);
    background-color: var(--Secondary-Colour);
}