@import "{{ url_for('static', filename=('css/Base.css')) }}";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--Main-Text-Colour);
}

.Heading-Container{
    display: flex;
    position: absolute;
    height: 15%;
    width: 60%;
    background: var(--Rev-Primary-Gradient);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    top: 4%;
    left: 20%;
}

.SignUpBtn{
    font-size: 22px;
    font-weight: 600;
    color: var(--Main-Text-Colour);
    height: 13%!important;
    width: 80%!important;
    text-align: center;
    background: var(--Secondary-Colour);
    border-radius: 20px;
    cursor: pointer;
}

.SignUpBtn:hover{
    transition: 0.2s;
    background: var(--Primary-Gradient);
}