<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Base.css">
    <link rel="stylesheet" href="/static/css/Calender.css">
</head>
<body>
    <div class="Main-Container">
        <div class="Sidebar"></div>
        <div class="Calender">
            <div class="Month">
                <div class="Date">
                    <h1>13th</h1>
                    <p>Go To Club</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>