{% extends "Base.html" %}

{% block head %}
<title>Document</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Calendar.css') }}">
{% endblock %}

{% block body %}
<div class="Main-Container">
    <div class="Calendar-Container">
        <table class="Calendar-Table">
            <th colspan="6">Calendar</th>
            <tr>
                <td>Event name</td>
                <td>Start time</td>
                <td>End time</td>
                <td>Type</td>
                <td>Priority</td>
                <td>Edit</td>
            </tr>
            {% for event in Cdata %}
            <tr>
                {% for piece in event %}
                    <td>
                        {{piece}}
                    </td>
                {% endfor %}
                <td>
                    <a href="/Calendar/Update">Update/</a>
                    <a href="/Calendar/Delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="Options-Container">
        <form action="/Calendar" method="POST" class="Options-Form" name="Options">
            <select name="Year" id="Year">
                <option value="{{Year}}">Year</option>
                {% for i in range(Year, Year + 5) %}
                    <option value={{i}}>{{i}}</option>
                {% endfor %}
            </select>
            <select name="Month" id="Month">
                <option value="{{Month}}">Month</option>
                <option value=1>Jan</option>
                <option value=2>Feb</option>
                <option value=3>Mar</option>
                <option value=4>Apr</option>
                <option value=5>May</option>
                <option value=6>Jun</option>
                <option value=7>Jul</option>
                <option value=8>Aug</option>
                <option value=9>Sep</option>
                <option value=10>Oct</option>
                <option value=11>Nov</option>
                <option value=12>Dec</option>
            </select>
            <select name="Day" id="Day">
                <option value="{{Day}}">Today</option>
                {% for i in range(Monthlen) %}
                    <option value={{i+1}}>{{i+1}}</option>
                {% endfor %}
            </select>
            <select name="View" id="View">
                <option value="Week">Select view</option>
                <option value="Week">Week view</option>
                <option value="Month">Month view</option>
            </select>
            <select name="Filter" id="Filter">
                <option value="None">No Filter</option>
                <option value="Priority">Priority</option>
                <option value="W">Work</option>
                <option value="P">Personal</option>
            </select>
            <input type="submit" name="Submit" id="Submit" class="Submit-Button">
        </form>
    </div>
{% endblock %}