{% extends "Base.html" %}

{% block head %}
<title>Calendar</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Calendar.css') }}">
{% endblock %}

{% block body %}
<div class="Main-Container">
    <div class="Calendar-Wrapper">
        <div class="Calendar-Container">
            <table class="Calendar-Table">
                <th colspan="6">Calendar</th>
                <tr>
                    <td>Event name</td>
                    <td>Start time</td>
                    <td>End time</td>
                    <td>Type</td>
                    <td>Priority</td>
                    <td>Edit</td>
                </tr>
                {% for event in Cdata %}
                <form method="POST">
                    <tr>
                        {% for piece in event[1:] %}
                            <td value="{{piece}}">
                                <input type="text" name="Calendar-Data" value="{{piece}}" readonly hidden>
                                {{piece}}
                            </td>
                        {% endfor %}
                        <td>
                            <button formaction="/Calendar/Update" class="OptionBtn" type="submit" value={{event[0]}} name="Update">Update</button>
                            <button formaction="/Calendar/Delete" class="OptionBtn" type="submit" value={{event[0]}} name="Delete">Delete</button>
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="Options-Container">
        <form action="/Calendar" method="POST" class="Options-Form" name="Options">
            <select name="Year" id="Year">
                <option value="{{Year}}">Year</option>
                {% for i in range(Year, Year + 5) %}
                    <option value={{i}}>{{i}}</option>
                {% endfor %}
            </select>
            <select name="Month" id="Month">
                <option value="{{Month}}">Month</option>
                <option value=1>Jan</option>
                <option value=2>Feb</option>
                <option value=3>Mar</option>
                <option value=4>Apr</option>
                <option value=5>May</option>
                <option value=6>Jun</option>
                <option value=7>Jul</option>
                <option value=8>Aug</option>
                <option value=9>Sep</option>
                <option value=10>Oct</option>
                <option value=11>Nov</option>
                <option value=12>Dec</option>
            </select>
            <select name="Day" id="Day">
                <option value="{{Day}}">Today</option>
                {% for i in range(Monthlen) %}
                    <option value={{i+1}}>{{i+1}}</option>
                {% endfor %}
            </select>
            <select name="View" id="View">
                <option value="Week">Select view</option>
                <option value="Week">Week view</option>
                <option value="Month">Month view</option>
            </select>
            <select name="Filter" id="Filter">
                <option value="None">No Filter</option>
                <option value="Priority">Priority</option>
                <option value="W">Work</option>
                <option value="P">Personal</option>
            </select>
            <button formaction="/Calendar" type="submit" name="Submit" id="Submit" class="SubmitBtn">Submit</button>
        </form>
        <button class="InsertBtn" onclick="window.location.href = '/Calendar/Insert'">Add Event</button>
        <button class="HomeBtn" onclick="window.location.href = '/Home'">Home</button>
    </div>
{% endblock %}