{% extends "Base.html" %}

{% block head %}
<title>Life Organiser</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
{% endblock %}

{% block body %}
<body>
    <div class="Heading-Container">
        <h1>Hello {{ Name }}, good to see you.
            Click what you want to access:
        </h1>
    </div>
    <div class="Relaxtion-Container">
        <button onclick="window.location.href = '/Relaxation'" class="RelaxationBtn">Relaxation</button>
    </div>
    <div class="Calendar-Container">
        <button onclick="window.location.href = '/Calendar'" class="CalendarBtn">Calendar</button>
    </div>
</body>
{% endblock %}