{% extends "Base.html" %}

{% block head %}
<title>Life Organiser Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Index.css') }}">
{% endblock %}

{% block body %}
<div class="Heading-Container">
    <h1>Welcome to your life organiser please login or sign up!</h1>
</div>
<div class="Login-Container Page-Container">
    <form action="/" method="POST">
        <h2>Email</h2>
        <input type="email" name="Email" id="Email" placeholder="Email@Email.com" required>
        <h2>Password</h2>
        <input type="password" name="Password" id="Password" placeholder="Password" required>
        <input class="LoginBtn" type="submit" value="Submit">
        <h3 class="SignUp">Sign up <a href="/SignUp">here!</a></h3>
    </form>
</div>
{% endblock %}