{% extends "Base.html" %}

{% block head %}
<title>Calendar Insert</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Insert.css') }}">
{% endblock %}

{% block body %}
<div class="Main-Container">
    <div class="Heading-Container">
        <h2>Add Event:</h2>
    </div>
    <div class="Insert-Container">
        <form action="/Calendar/Insert" method="POST" class="Insert-Form">
            <input type="text" name="Event-Name" id="Event-Name" placeholder="Event Name">
            <label for="Start-Time">Start Time:</label>
            <input type="datetime-local" name="Start-Time" id="Start-Time">
            <label for="End-Time">End Time:</label>
            <input type="datetime-local" name="End-Time" id="End-Time">
            <input type="text" name="Type" id="Type" placeholder="Types: W or P">
            <input type="number" name="Priority" id="Priority" placeholder="Priority: 1-10">
            <button type="submit" name="Submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}